In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("E:\Models AI\Datasets\diabetes.csv")

In [10]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [35]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [36]:
y = df["Outcome"]

In [37]:
x = df.drop("Outcome", axis = "columns")

In [38]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [39]:
y = pd.get_dummies(y)

In [40]:
y

     0  1
0    0  1
1    1  0
2    0  1
3    1  0
4    0  1
..  .. ..
763  1  0
764  1  0
765  1  0
766  0  1
767  1  0

[768 rows x 2 columns]

In [41]:
y.shape

(768, 2)

In [42]:
import tensorflow

In [59]:
from keras.layers import Dense
from keras.models import Sequential

In [60]:
model = Sequential()

In [72]:
model.add(Dense(64,activation = "relu",input_shape = (8,)))
model.add(Dense(64,activation = "relu"))
model.add(Dense(64,activation = "relu"))
model.add(Dense(2, activation = "softmax"))

In [73]:
model.compile(optimizer = "adam", loss = "categorical_crossentropy", metrics = ["accuracy"])

In [97]:
model.fit(x,y,epochs = 15)

Epoch 1/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1162 - accuracy: 0.9557
Epoch 2/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0893 - accuracy: 0.9740
Epoch 3/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1135 - accuracy: 0.9609
Epoch 4/15
24/24 [==============================] - 0s 3ms/step - loss: 0.2160 - accuracy: 0.9245
Epoch 5/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1668 - accuracy: 0.9336
Epoch 6/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1312 - accuracy: 0.9479
Epoch 7/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0824 - accuracy: 0.9740
Epoch 8/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0800 - accuracy: 0.9766
Epoch 9/15
24/24 [==============================] - 0s 3ms/step - loss: 0.1020 - accuracy: 0.9688
Epoch 10/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0872 - accuracy: 0.9701
Epoch 11/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1021 - accuracy: 0.9596
Epoch 12/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1454 - accuracy: 0.9479
Epoch 13/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1492 - accuracy: 0.9531
Epoch 14/15
24/24 [==============================] - 0s 3ms/step - loss: 0.1202 - accuracy: 0.9596
Epoch 15/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1025 - accuracy: 0.9688

In [5]:
import matplotlib as p

In [6]:
data = [(1,2),(2,3),(5,4)]

In [7]:
p.line(data)

AttributeError: module 'matplotlib' has no attribute 'line'

In [11]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000